/* BASE STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;

}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2e2f42;
    --slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --cornflover: #E7E9FC;

    --indent: 24px;
    --items: 3;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);
}
h1,h2,h3,h4,h5,h6,p {
    display: block;
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link {
    text-decoration: none;
}
ol,
ul {
    list-style-type: none;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    font-family: inherit;
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* HEADER STYLES */
.header {
    background-color: inherit;

}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}
.accent-dark {
    color: var(--navyblue);
}
.nav-list {
    display: flex;
}
.nav-link {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-link:hover,
.nav-link:active {
    color: var(--ocean);
}
.nav-link:focus {
    color: var(--ocean);
}
.address {
    font-style: normal;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.address-link:hover,
.address-link:active {
    color: var(--ocean);
}
.address-link:focus {
    color: var(--ocean);
}

/* HERO STYLES */
.hero-sect {
    padding-top: 0;
    padding-bottom: 60px;
}
.hero-container {
    padding: 188px;
    background-color: var(--navyblue);
}
.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);

    display: block;
    margin: 0 auto;
    width: 496px;
    margin-bottom: 32px;
}
.order-btn {
    background-color: var(--iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;

    display: inline-block;
    margin: 0 auto;
    border-radius: 4px;
}
.order-btn:hover,
.order-btn:active {
    background-color: var(--ocean);
}
.order-btn:focus {
    background-color: var(--ocean);
}
.list {
    list-style: none;
}

/* BENEFITS STYLES */
.benefits {

}
.benefits-list {
    display: flex;
    gap: 24px;
}
.benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
}
.third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.card-label {
    padding: 32px 50px;
}
/* FITCHES STYLES */
.second-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    text-transform: capitalize;

    width: 323px;
    margin: 0 auto;
    margin-bottom: 72px;
}
.list {
    list-style: none;
}
.card-set {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--indent);
    row-gap: 48px;
}
.card-set-item {
    flex-basis: calc((100% - var(--indent) * (var(--items - 1))) / var(--items));
}
/* TEAM STYLES */
.team {
    padding-bottom: 0;
}
.team-container{
    background-color: var(--cloud);
    padding-bottom: 120px;
    padding-top: 60px;
}
.list {
    list-style: none;
}
.card-set-team {
    flex-basis: calc((100% - var(--indent) * 3) / 4);
}

.team-card {
    background-color: var(--white);
    border: 1px solid var(--cornflover);
    border-top: none;
}

/* FOOTER STYLES */
.footer {
    color: var(--cornflover);
    background-color: var(--navyblue);
}
.footer-container {
    width: 264px;
    height: 312px;
    padding-top: 100px;
    padding-left: 15px;
}
.accent-ligth {
    color: var(--cloud);
}
.footer-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* PORTFOLIO FILTERS STYLES */
.filter-sect {
    padding-bottom: 0;
}
.list {
    list-style: none;
}
.filter-btn {
color: var(--iris);
background-color: var(--cloud);
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.filter-btn:hover,
.filter-btn:active {
    color: var(--white);
    background-color: var(--ocean);
}
.filter-btn:focus {
    color: var(--white);
    background-color: var(--ocean);
}
.link {
    text-decoration: none;
}
.third-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}